@font-face {
    font-family: 'block';
    src: url('ModernDOS8x14.ttf')
    format('truetype')
}

body {
    background-color: #000000;
    font-family: 'block', monospace;
    color: #cfb541;
    height: 480px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
.content {
    background-color: #011e6e;
    width: 720px;
    height: 480px;
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: border-box;
    cursor: none;
    overflow: hidden;
}
div.header {
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    margin: 2px auto 0px auto;
    border-width: 5px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    background-color: #0044ff;
    border-bottom-color: rgb(19, 63, 184);
    border-left-color: rgb(18, 48, 131);
    border-right-color: rgb(17, 47, 129);
    padding-top: 18px;
}

#SystemName{
    width: 100%;
    font-size: 30px;    
    text-align: center;
    padding: 0px;
    margin: 0px auto;
}
.program-times {
    width: 100%;

} 
#ProgramTimes {
    margin-left: 10%;
    display: block;
}
#ProgramTimes td {
    font-size: 15px;    
    text-align: center;
    margin: 0px 0px 5px 0px;
    width: 29%;
    display: inline-block;
}

table.channel-bar {
    width: 675px;
    margin-left: 3px;
    display: block;

}

.label {
    width: 110px;
    height: 38px;
    border-width: 5px;
    border-style: solid;
    border-left-color: #0237c9;
    border-top-color: #0234be;
    border-bottom-color: #032685;
    border-right-color: #032685;
    background: rgb(51, 75, 179);
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-right: -4px;
}
.program-30 {
    width: 167px;
    height: 38px;
    border-width: 5px;
    border-style: solid;
    border-left-color: #0237c9;
    border-top-color: #0234be;
    border-bottom-color: #032685;
    border-right-color: #032685;
    background: rgb(51, 75, 179);
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-right: -4px;
}
.program-60 {
    width: 350px;
    height: 38px;
    border-width: 5px;
    border-style: solid;
    border-left-color: #0237c9;
    border-top-color: #0234be;
    border-bottom-color: #032685;
    border-right-color: #032685;
    background: rgb(51, 75, 179);
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-right: -4px;
}
.program-90 {
    width: 533px;
    height: 38px;
    border-width: 5px;
    border-style: solid;
    border-left-color: #0237c9;
    border-top-color: #0234be;
    border-bottom-color: #032685;
    border-right-color: #032685;
    background: rgb(51, 75, 179);
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-right: -4px;
}

.ad {
    width: 670px;
    border-width: 5px;
    border-style: solid;
    border-left-color: #0237c9;
    border-top-color: #0234be;
    border-bottom-color: #032685;
    border-right-color: #032685;
    background: rgb(51, 75, 179);
    overflow: auto;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px 10px;
    box-sizing: border-box;
    text-align: center;
}
.ad h1 {
    font-size: 28px;
    margin: 4px;
}
.ad p {
    font-size: 20px;
    margin: 4px;
}

.header-time {
    float: right;
margin: 0px 50px 0px 0px;
font-size: 15px;
}

.footer {
    border-width: 5px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    background-color: #0044ff;
    padding-bottom: 10px;
    border-top-color: rgb(19, 63, 184);
    border-left-color: rgb(18, 48, 131);
    border-right-color: rgb(17, 47, 129);    
    font-size: 20px;
    height: 60px;
}
.footer p {
    margin-top: 15px;
}
